<form (ngSubmit)="submitForm()">
  <label for="despacho">1. ¿Le despacharon los productos revisando la factura?</label>
  <select id="despacho" name="despacho" [(ngModel)]="despacho">
    <option value="si">Sí</option>
    <option value="no">No</option>
  </select>
<br>
  <label for="entrega">2. ¿Le entregaron la factura?</label>
  <select id="entrega" name="entrega" [(ngModel)]="entrega">
    <option value="si">Sí</option>
    <option value="no">No</option>
  </select>
  <br>
  <label for="amabilidad">3. En una escala del 0 al 10, ¿Cómo califica la amabilidad del cajero?</label>
  <input type="number" id="amabilidad" name="amabilidad"  [(ngModel)]="amabilidad">
  <br>
  <label for="satisfaccion">4. En una escala del 0 al 10, ¿Cómo califica su satisfacción general?</label>
  <input type="number" id="satisfaccion" name="satisfaccion" [(ngModel)]="satisfaccion">
  <br>
  <label for="recomendar">5. En una escala del 0 al 10, ¿en qué nivel recomendaría XYZ a amigos o familiares?</label>
  <input type="number" id="recomendar" name="recomendar" [(ngModel)]="recomendar">
  <br>
  <label for="observaciones">6. Sus observaciones finales por favor:</label>
  <textarea id="observaciones" name="observaciones" [(ngModel)]="observaciones"></textarea>
  <br>
  <button type="submit">Enviar</button>
</form>